server {
  listen 80 default_server;

  location /status_stat {
     default_type 'text/html'; 
     content_by_lua_file 'show_statuses_stat.lua';
  }

  location / {
    proxy_pass http://localhost/$args;
    log_by_lua_file 'collect_statuses.lua';
  }

  location /get_204 {
    return 204;
  }

  location /get_302 {
    return 302;
  }

  location /get_404 {
    return 404;
  }

  location /get_500 {
    return 500;
  }
}